span{
    display: inline-block;
}

.category{
    float: left;
    background-color: #999;
    width: 30%;
    height: 240px;
}

.item{
    float: right;
    background-color: #666;
    width: 70%;
    height: 240px;
}

.item_id{
    color: #000;
    background-color: #ccc;
    width: 27.8%;
    height: 100px;
    margin: 10px;
}