<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset = "utf-8">
    <title>data</title>
    <link rel="stylesheet" href="{% static 'fashion_ai/css/sample.css' %}">
</head>
<body>
    <div class="left" style="margin-right: 30px;">
        <p>data</p>
        <!-- UPDATE -->
        {% if item %}
            <div>
                <label>category : </label>
                <input disabled style="width: 150px;">
            </div> 
            <div>
                <label>name : </label>
                <input disabled style="width: 150px;">
            </div> 
            <div>
                <label>path : </label>
                <input disabled style="width: 215px;">
            </div>
            <div>
                <label>size : </label>
                <input disabled style="width: 45px;">
                <label>x : </label>
                <input disabled style="width: 45px;">
                <label>y : </label>
                <input disabled style="width: 45px;">
            </div>    
            <button class="none">追加</button>
        <!-- DATA -->
        {% else %}
            <form method="post">
            {% csrf_token %}
            <div>
                <label>category : </label>
                <select name="category" style="width: 158px; height: 22px;">
                    <option value="トップス">トップス</option>
                    <option value="アウター">アウター</option>
                    <option value="その他">その他</option>
                </select>
            </div> 
            <div>
                <label>name : </label>
                <input name="name" style="width: 150px;">
            </div> 
            <div>
                <label>path : </label>
                <input name="path" value="fashion_ai/img/item/sample.png" style="width: 215px;">
            </div>
            <div>
                <label>size : </label>
                <input name="size" style="width: 45px;">
                <label>x : </label>
                <input name="x" style="width: 45px;">
                <label>y : </label>
                <input name="y" style="width: 45px;">
            </div>   
            <button type="submit">追加</button>
            </form>
        {% endif %}
    </div>

    <div class="right">
        <p>update</p>
        <!-- UPDATE -->
        {% if item %}
            <form method="post">
            {% csrf_token %}
            <div>
                <label>category : </label>
                <input name="category" value="{{ item.category }}" style="width: 150px;">
            </div> 
            <div>
                <label>name : </label>
                <input name="name" value="{{ item.name }}" style="width: 150px;">
            </div> 
            <div>
                <label>path : </label>
                <input name="path" value="{{ item.path }}" style="width: 215px;">
            </div>
            <div>
                <label>size : </label>
                <input name="size" value="{{ item.size }}" style="width: 45px;">
                <label>x : </label>
                <input name="x" value="{{ item.x }}" style="width: 45px;">
                <label>y : </label>
                <input name="y" value="{{ item.y }}" style="width: 45px;">
            </div>      
            <button type="submit">更新</button>
            </form>
        <!-- DATA -->
        {% else %}
            <div>
                <label>category : </label>
                <input disabled style="width: 150px;">
            </div> 
            <div>
                <label>name : </label>
                <input disabled style="width: 150px;">
            </div> 
            <div>
                <label>path : </label>
                <input disabled style="width: 215px;">
            </div>
            <div>
                <label>size : </label>
                <input disabled style="width: 45px;">
                <label>x : </label>
                <input disabled style="width: 45px;">
                <label>y : </label>
                <input disabled style="width: 45px;">
            </div>
            <button class="none">更新</button>
        {% endif %}
    </div>

    <br><br>
    <!-- TOPS -->
    <p class="data_p">トップス</p>
    <div class="data_div">
        {% if tops %}
        {% for item in tops %}
        <span class="data_span">
            <div class="left" style="height: 50px;">
                <img src="{% static item.path %}" width="50px" height="50px">
            </div>
            <div class="right">
                <p class="data_p">{{ item.name }}</p>
                <a href="{% url 'update_item' item.id %}">編集</a>
                <a href="{% url 'delete_item' item.id %}">削除</a>
            </div>
        </span>
        {% endfor %}
        {% else %}
        <p style="margin: 5px; height: 60px;">empty</p>
        {% endif %}
    </div>

    <!-- OUTER -->
    <p class="data_p">アウター</p>
    <div class="data_div">
        {% if outer %}
        {% for item in outer %}
        <span class="data_span">
            <div class="left" style="height: 50px;">
                <img src="{% static item.path %}" width="50px" height="50px">
            </div>
            <div class="right">
                <p class="data_p">{{ item.name }}</p>
                <a href="{% url 'update_item' item.id %}">編集</a>
                <a href="{% url 'delete_item' item.id %}">削除</a>
            </div>
        </span>
        {% endfor %}
        {% else %}
        <p style="margin: 5px; height: 60px;">empty</p>
        {% endif %}
    </div>

    <!-- OTHER -->
    <p class="data_p">その他</p>
    <div class="data_div">
        {% if other %}
        {% for item in other %}
        <span class="data_span">
            <div class="left" style="height: 50px;">
                <img src="{% static item.path %}" width="50px" height="50px">
            </div>
            <div class="right">
                <p class="data_p">{{ item.name }}</p>
                <a href="{% url 'update_item' item.id %}">編集</a>
                <a href="{% url 'delete_item' item.id %}">削除</a>
            </div>
        </span>
        {% endfor %}
        {% else %}
        <p style="margin: 5px; height: 60px;">empty</p>
        {% endif %}
    </div>

    <br>
    <a href="{% url 'index' %}">戻る</a>
</body>
</html>