<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset = "utf-8">
    <title>home</title>
    <link rel="stylesheet" href="{% static 'fashion_ai/css/home.css' %}">
</head>
<body>
    <div class="logo">
        <img src="{% static 'fashion_ai/img/logo/logo.png' %}" alt="Logo">
    </div>

    <div class="menu">
        <a href="{% url 'prompt' %}">CREATE</a>
        <a href="{% url 'mydesign' %}">MYDESIGN</a>
        <a href="{% url 'gallery' %}">GALLERY</a>
        <a href="{% url 'favorite' %}">FAVORITE</a>
        <a href="{% url 'start' %}">LOGOUT</a>
    </div>
</body>
</html>
