<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'fashion_ai/css/home.css' %}">
</head>
<body>
    <div class="logo">
        <img src="{% static 'fashion_ai/img/logo/logo.png' %}" alt="Logo">
    </div>

    <div class="menu">
        <a href="{% url 'select' %}">CREATE</a>
        <a href="{% url 'original' %}">ORIGINAL</a>
        <a href="{% url 'collection' %}">COLLECTION</a>
        <a href="{% url 'gallery' %}">GALLERY</a>
        <a href="{% url 'start' %}">LOGOUT</a>
    </div>
</body>
</html>
