<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset = "utf-8">
    <title>index</title>
    <link rel="stylesheet" href="{% static 'fashion_ai/css/sample.css' %}">
</head>
<body>
    <p>index</p>
    <a href="{% url 'start' %}">start</a><br>
    <a href="{% url 'login' %}">login</a><br>
    <a href="{% url 'home' %}">home</a><br>
    <a href="{% url 'prompt' %}">prompt</a><br>
    <a href="{% url 'select' %}">select</a><br>
    <a href="{% url 'mydesign' %}">mydesign</a><br>
<br>
<br>
    <a href="{% url 'data' %}">data</a><br>
    <a href="{% url 'stable' %}">stable</a><br>
    <a href="{% url 'collage' %}">collage</a><br>
</body>
</html>