<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset = "utf-8">
    <title>index</title>
    <link rel="stylesheet" href="{% static 'fashion_ai/css/sample.css' %}">
</head>
<body>
    <p>index</p>
    <a href="{% url 'start' %}">start</a><br>
    <a href="{% url 'login' %}">login</a><br>
    <a href="{% url 'home' %}">home</a><br>
    <a href="{% url 'select' %}">select</a><br>
    <a href="{% url 'original' %}">original</a><br>
    <a href="{% url 'collection' %}">collection</a><br>
    <a href="{% url 'gallery' %}">gallery</a><br><br><br>
    <a href="{% url 'data' %}">data</a><br>
    <a href="{% url 'generate_prompt' %}">generate_prompt</a><br>
    <a href="{% url 'stable' %}">stable</a>
</body>
</html>