<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  {% load static %}
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'fashion_ai/css/login.css' %}">
</head>
<body>
  <div class="main-bg"></div> 
  <h2>LOGIN</h2>
  
  <form method="post">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password">
    </div>
    <button type="submit">LOGIN</button>
  </form>
</body>
</html>

