<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset = "utf-8">
    <title>mydesign</title>
    <link rel="stylesheet" href="{% static 'fashion_ai/css/mydesign.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
</head>
<body>
    <p>mydesign</p>

    <div class="contents">
        <ul class="slider">
        {% if design %}
        {% for item in design %}
        <li><img src="{% static item.path %}"></li>
        {% endfor %}
        {% else %}
        <p>empty</p>
        {% endif %}
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $('.slider').slick({
            autoplay: true,
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            prevArrow: '<div class="slick-prev"></div>',
            nextArrow: '<div class="slick-next"></div>',
            dots: true,
            responsive: [{
                breakpoint: 992,
                settings: {
                    slidesToShow: 1,
                }
            }]
        });
    </script>

    <a href="{% url 'home' %}">BACK</a><br>
</body>
</html>