<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset = "utf-8">
    <title>mydesign</title>
    <link rel="stylesheet" href="{% static 'fashion_ai/css/mydesign.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
</head>
<body>
    <h2>MYDESIGN</h2>
    <div class="contents">
        <ul class="slider">
        {% if design %}
        {% for item in design %}
        <li><a href="{% url 'update_design' item.id %}"><img src="{% static item.path %}"></a></li>
        {% endfor %}
        {% else %}
        <p>empty</p>
        {% endif %}
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $('.slider').slick({
            autoplay: true,
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            prevArrow: '<div class="slick-prev"></div>',
            nextArrow: '<div class="slick-next"></div>',
            dots: true,
            responsive: [{
                breakpoint: 992,
                settings: {
                    slidesToShow: 1,
                }
            }]
        });
    </script>


    <div>
        <p class="select_p">TOPS</p>
        <div class="select_div">
            {% if tops %}
            {% for item in tops %}
            <span class="select_span">
                <a href="{% url 'update_design' item.id %}" class="select_a">
                    <img src="{% static item.path %}" width="50px" height="50px">
                </a>
            </span>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div>
        <p class="select_p">OUTER</p>
        <div class="select_div">
            {% if outer %}
            {% for item in outer %}
            <span class="select_span">
                <a href="{% url 'update_design' item.id %}" class="select_a">
                    <img src="{% static item.path %}" width="50px" height="50px">
                </a>
            </span>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div>
        <p class="select_p">OTHER</p>
        <div class="select_div">
            {% if other %}
            {% for item in other %}
            <span class="select_span">
                <a href="{% url 'update_design' item.id %}" class="select_a">
                    <img src="{% static item.path %}" width="50px" height="50px">
                </a>
            </span>
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <br>
    <div class="menu">
        <a href="{% url 'home' %}">BACK</a>
    </div>
</body>
</html>