<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset = "utf-8">
    <title>preview</title>
    <link rel="stylesheet" href="{% static 'fashion_ai/css/preview.css' %}">
</head>
<body>
    <h2>PREVIEW</h2>
    <img src="{{ img }}"><br>

    <form method="post">
        {% csrf_token %}
        <div>
            <label>category : </label>
            <select name="category" style="width: 158px; height: 40px;">
                <option value="トップス">トップス</option>
                <option value="アウター">アウター</option>
                <option value="その他">その他</option>
            </select>
        </div>
        <div>
            <label>title : </label>
            <input name="title" style="width: 150px;">
        </div>
        <div>
            <label>path : </label>
            <input name="path" value="fashion_ai/img/design/sample.png" style="width: 215px;">
        </div>
    <div class="menu">
        <button type="submit">COMPLETE</button>
        <a href="{% url 'select'  %}">BACK</a><br>
    </div>
</body>
</html>