<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>prompt</title>
    <style>
        .item {
            padding: 10px;
            border: 1px solid #ccc;
        }

        .green-background {
            background-color: green;
            color: white;
        }

        .white-background {
            background-color: white;
        }
    </style>
    
    <link rel="stylesheet" href="{% static 'fashion_ai/style.css' %}">
</head>
<body>
    {% for item in chat_results %}
        {% if forloop.counter0|divisibleby:2 %}
            <p class="item white-background">{{ item }}</p>
        {% else %}
            <p class="item green-background" style="text-align: right;">{{ item }}</p>
        {% endif %}
    {% endfor %}
    <form method="POST" id="submitForm" onsubmit="disableButton()">
        {% csrf_token %}
        {{ form.as_p }}
        <button id="submit" type="submit">送信</button>
    </form>

    <script>
        function disableButton() {
            document.getElementById("submit").disabled = true;
        }
    </script>

    {% with '/fashion_ai/img/photo/'|add:image_path as image_static %}
    <img src="{% static image_static %}" alt="Generated Image">
    {% endwith %}

</body>
</html>
