<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset = "utf-8">
    <title>select</title>
    <link rel="stylesheet" href="{% static 'fashion_ai/css/sample.css' %}">
</head>
<body>
    <p>select</p>
    <div>
        <p class="select_p">TOPS</p>
        <div class="select_div">
            {% if tops %}
            {% for item in tops %}
            <span class="select_span">
                <a href="{% url 'prompt' item.id %}" class="select_a">
                    <img src="{% static item.img %}" width="50px" height="50px">
                </a>
            </span>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div>
        <p class="select_p">BOTTOMS</p>
        <div class="select_div">
            {% if bottoms %}
            {% for item in bottoms %}
            <span class="select_span">
                <a href="{% url 'prompt' item.id %}" class="select_a">
                    <img src="{% static item.img %}" width="50px" height="50px">
                </a>
            </span>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    
    <br>
    <a href="{% url 'home' %}">BACK</a>
</body>
</html>