<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset = "utf-8">
    <title>select</title>
    <link rel="stylesheet" href="{% static 'fashion_ai/css/select.css' %}">
</head>
<body>
    <h2>SELECT</h2>
    <div>
        <p class="select_p">TOPS</p>
        <div class="select_div">
            {% if tops %}
            {% for item in tops %}
            <span class="select_span">
                <a href="{% url 'preview' item.name item.size item.x item.y %}" class="select_a">
                    <img src="{% static item.path %}" width="50px" height="50px">
                </a>
            </span>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div>
        <p class="select_p">OUTER</p>
        <div class="select_div">
            {% if outer %}
            {% for item in outer %}
            <span class="select_span">
                <a href="{% url 'preview' item.name item.size item.x item.y %}" class="select_a">
                    <img src="{% static item.path %}" width="50px" height="50px">
                </a>
            </span>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div>
        <p class="select_p">OTHER</p>
        <div class="select_div">
            {% if other %}
            {% for item in other %}
            <span class="select_span">
                <a href="{% url 'preview' item.name item.size item.x item.y %}" class="select_a">
                    <img src="{% static item.path %}" width="50px" height="50px">
                </a>
            </span>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    
    
    <br>
    <div class="menu">
        <a href="{% url 'prompt' %}">BACK</a>
    </div>
</body>
</html>